@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baloo2/v1/wXKuE3kTposypRyd74f4JeQ.ttf) format('truetype');
}
