        @font-face {
            font-family: 'Ilisarniq';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: local('Ilisarniq'), url("/media/webfonts/Ilisarniq-Regular.woff2") format('woff2');
        }
