body {
    color: #eee;

}
.regular-background {
    background-color: #087457;
}
.regular-font {
    font-family: 'Ilisarniq', sans-serif;
}

.shadowed-text {
    text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
}

.shadowed-border {
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow: 0 0  1px 1px #444, inset 0 1px 1px #444;
    text-align:center;
    margin-top: 0.2em;
}
#time {
    max-width: 12em;
    min-width: 12em;
}

#name {
    font-family: 'Solway', sans-serif;
}

#mode{
    font-size:1em;
    height: 1.8em;
    vertical-align: unset;
    padding-left: 0.5em ;
    padding-right: 0.5em ;
}
#mode-text{
    display: inline-block;
}
.beside-stacked {
    vertical-align: middle;
}

.fa-stack {
    font-size: 0.5em;
}


a:hover {
    color: #eee;
}

a {
    color: #eee;
    text-decoration: none;
}

.stacked-icon {
    vertical-align: middle;
    justify-content: center;
}

.stacked-icon-inner {
    color: #087457;
}

@media screen and (min-width:769px),
print {
    .is-size-1-tablet {
        font-size: 5rem !important
    }

    .is-size-2-tablet {
        font-size: 2.5rem !important
    }

}

@media screen and (max-width:768px) {

    .is-size-3-mobile {
        font-size: 3rem !important
    }

    .is-size-4-mobile {
        font-size: 1.5rem !important
    }
}
