@font-face {
    font-family: 'Space Mono';
    font-weight: 400;
    font-display: swap;
    src: local('Space Mono'), url("/media/webfonts/space-mono-400.woff2") format('woff2');
}

@font-face {
    font-family: 'Space Mono';
    font-weight: 700;
    font-display: swap;
    src: local('Space Mono'), url("/media/webfonts/space-mono-700.woff2") format('woff2');
}
